<% if has_voted_on?(current_component) %>
  <div class="row column text-large">
    <p><%= t(".already_voted") %></p>

    <div class="section text-medium">
      <%
      back_to_path = begin
        if authorized_components.count > 1
          process_path(current_combined_process)
        elsif combined_processes.count > 1
          processes_path
        else
          root_path
        end
      end
      %>
      <%= link_to back_to_path, class: "muted-link" do %>
        <%= icon "chevron-left", class: "icon--small", role: "img" %>
        <%= t(".back_to_listing") %>
      <% end %>
    </div>
  </div>
<% end %>
