<section class="wrapper">
  <div class="row">
    <div class="text-center">
      <h1 class="heading1 page-title"><%= t(".title") %></h1>
      <p class="intro--text subheading1"><%= t(".description") %></p>
    </div>
    <div class="row column authorizations-list">
      <section class="section">
        <%= render partial: "authorizations_list" %>
      </section>
    </div>
  </div>
</section>
