<section class="wrapper">
  <div class="row" id="active-processes">
    <div class="text-center">
      <h1 class="heading1 page-title"><%= t(".active_processes") %></h1>
    </div>
    <div class="row collapse">
      <%= render(processes) %>
    </div>
  </div>
</section>
